.text{
    text-align: center;
    
}
form{
    text-align: center;
}

.background{
  
background-image: url("../assets/img7.jpg");
height:100vh;
width: 100%;

   background-repeat: no-repeat;
   background-size: contain;
   text-align: left;

   position: relative; 
}
.paragraph{
font-weight: bold;
text-decoration: none;
font-size: 1rem;

}
