.header {
   
    padding: 10px;
    text-align:center;
    background-color: darkgray;
    
        

    a {
        display: inline-block;
        margin-right: 10px;
        padding: 20px 20px;
        text-decoration: none;
        color: white;
       
    
        svg {
            width: 18px;
            margin-right: 5px;
        }
    }
   

}

